In [28]:
import pandas as pd
import numpy as np
from time import time

In [100]:
version = 1
print('Version', version)

labels = [
'EMPLOYED', 
'LOST', 
'FIRED', 
'QUIT', 
'UNEMPLOYED', 
'SEARCH',
'OFFER', 
'HIRED', 
'AMBIGUOUS',
]

path_to_data = '../data/tmp/'

Version 1

In [101]:
print('Import Tweets...\n')
start = time()
tweets = pd.read_pickle(path_to_data+'sample-of-tweets-en.pkl',compression='xz')
print('Done in',round(time()-start),'sec')

Import Tweets...

Done in 102 sec

In [102]:
tweets.head()

                                                                TEXT  KEYWORD
ID
78465110036856832  @Maria1110 it don't work tht way, Sean connery...     True
82998116663558144                    Watching this old Kansas vs USC    False
78179360363913216  #punchyourself your 21 depending on your mom t...     True
80756638763585536  It's 11:00 already! I need to finish my tech h...     True
78370419614285825                        @_Starrr_ nothing bored lol    False

In [40]:
negative_examples = pd.read_pickle(path_to_data+'sample-of-tweets-en.pkl',compression='xz')
print('# Tweets:', negative_examples.shape[0])

negative_examples = negative_examples.loc[-negative_examples['KEYWORD'],'TEXT'].copy()
print('# Negative Examples:', data.shape[0])

# Tweets: 18218
# Negative Examples: 10002

In [41]:
negative_examples.head()

ID
82998116663558144                      Watching this old Kansas vs USC
78370419614285825                          @_Starrr_ nothing bored lol
78283937104936960         @jaydielouuu lol girl........where they went
78093511680995329                      We kissed in grannys house. Lol
82941791522914304    I hope lizzy isn't over there gettin #babyfeve...
Name: TEXT, dtype: object

In [63]:
negative_examples = negative_examples.reset_index().rename(columns={'ID':'index','TEXT':'tweet'})

In [65]:
cols = [
# 'EMPLOYED', 
# 'JOB LOSS', 
'FIRED', 
# 'QUIT', 
# 'UNEMPLOYED', 
'JOB SEARCH',
# 'JOB OFFER', 
# 'HIRED', 
# 'AMBIGUOUS',
]

labeled_examples = pd.read_excel(
path_to_data+'label-tweets-containing-job-or-fired-v1.xlsx')[['TWEET']+cols]
    
labeled_examples[cols] = labeled_examples[cols].replace(np.nan,0).astype(int)
labeled_examples = labeled_examples.rename(columns=lambda x:x.lower()).reset_index()

In [99]:
cols = [
# 'EMPLOYED', 
# 'JOB LOSS', 
'FIRED', 
# 'QUIT', 
# 'UNEMPLOYED', 
'JOB SEARCH',
# 'JOB OFFER', 
# 'HIRED', 
# 'AMBIGUOUS',
]

data = pd.read_excel('../data/tmp/label-tweets-containing-job-or-fired-v1-FINISHED.xlsx')[['TWEET']+cols]
    
data[cols] = data[cols].replace(np.nan,0).astype(int)
data = data.rename(columns=lambda x:x.lower()).reset_index()

data.head(70).to_csv('../data/tmp/train.tsv',index=False,sep='\t',header=False)
data.tail(30).to_csv('../data/tmp/dev.tsv',index=False,sep='\t',header=False)

In [71]:
data = pd.concat([
labeled_examples.head(100),
negative_examples],sort=False).replace(np.nan,0)

In [72]:
data.head(70).to_csv('../data/tmp/train.tsv',index=False,sep='\t',header=False)
data.tail(30).to_csv('../data/tmp/dev.tsv',index=False,sep='\t',header=False)

In [74]:
data.tail()

,index,tweet,fired,job search
9104,80709033371238401,@Constance_Durr : lol i'm not gone tell crazy ...,0.0,0.0
9105,78175208300756992,"I'm at Bolivar Road Elementary (Bolivar Rd, Tu...",0.0,0.0
9106,78049076922421248,LMAO!!B you sha carry this thing for head o..l...,0.0,0.0
9107,83027631821430784,So glad I've been saving my money lately :-),0.0,0.0
9108,78190060104724480,Great day of new connections and emergency foo...,0.0,0.0

In [ ]:
# all_tweets = all_tweets.apply(
# lambda x:x.replace('#','')).apply(
# lambda x:x.replace('@','')).apply(
# lambda x:re.sub(r"http\S+", "", x, flags=re.MULTILINE))